<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ControlTelefonia.My.MySettings.IntranetConnectionString"
            connectionString="Data Source=APPDOC\REPORTS;Initial Catalog=Intranet;Persist Security Info=True;User ID=INTRANET;Password=CCSCCS"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>